.header-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-flow: row;
  padding-top: 8px;
  height: 60px;
  h1 {
    font-size: 2.3rem;
    font-weight: 700;
    a:hover {
      text-decoration: underline;
    }
  }
  span {
    font-size: 1.2rem;

    font-weight: 700;
    a {
      color: #b3b3b3;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}
.items {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
  margin: 0 -8px;
  li {
    border-radius: 8px;
    padding: 10px;
    .items-wrapper {
      display: grid;
      grid-template-rows: repeat(2, auto);
      gap: 8px;
    }
    .img-wrapper {
      position: relative;
    }
    .play-icon {
      display: flex;
      position: absolute;
      padding: 8px;
      bottom: 0;
      right: 0;
      font-size: 3.5rem;
      color: #1f1f1f;
      opacity: 0;
      transform: translateY(5px);
      transition: transform 0.3s ease, opacity 0.3s ease;
      .icon-custom {
        z-index: 1;
      }
      &:hover {
        font-size: 3.6rem;
      }
    }
    .play-icon::after {
      content: "";
      position: absolute;
      transform-origin: center;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      width: 100%;
      height: 100%;
      transform: scale(0.8);
      background-color: rgba(10, 209, 10);
      border-radius: 50%;
    }
    .play-icon:hover::after {
      background-color: rgb(4, 255, 4);
    }
    &:hover {
      .play-icon {
        opacity: 1;
        transform: translateY(0);
      }
    }
    &:hover {
      background-color: #1f1f1f;
    }
  }

  .items-img {
    width: 100%;
    height: 100%;
  }

  .items-img_square {
    border-radius: 5px;
    object-fit: cover;
  }
  .items-img_circle {
    border-radius: 50%;
    object-fit: cover;
  }
  .items-info {
    display: flex;
    flex-direction: column;
    gap: 8px;
    h3 {
      font-size: 1.3rem;
      font-weight: 600;
    }
    span {
      color: #b3b3b3;
      font-size: 1.1rem;
      font-weight: 600;
    }
  }
}
.music-items + .music-items {
  margin-top: 24px;
}
