@use "../abstracts";
.password-reset-main {
  background-color: abstracts.$main-background;
  height: 100dvh;
  position: relative;
  .password-reset-container {
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
  }
  .password-reset-header {
    padding: 32px;
    @include abstracts.flex(null, flex-start, center);
    gap: 6px;
    .password-reset-brand {
      @include abstracts.font(3rem);
    }
    span {
      @include abstracts.font(1.8rem, 600);
    }
  }
  .password-reset-content {
    display: flex;
    justify-content: center;
    flex-grow: 1;
    .content-wrapper {
      box-sizing: content-box;
      padding: 0 32px;
    }
    .content-header {
      @include abstracts.font(3.2rem, 700);
      min-width: fit-content;
      margin-bottom: 24px;
    }
    .content-des {
      @include abstracts.font(1.6rem, 500);
      line-height: 22px;
      margin-bottom: 24px;
    }
  }
  .password-reset-form {
    @include abstracts.font(1.4rem, 600);
    @include abstracts.flex(column);
  }
  .password-reset-support {
    @include abstracts.font(1.3rem, 400);
    margin: 24px 0;
    text-decoration: underline;
  }
  .password-reset-footer {
    padding: 24px;
    text-align: center;
  }
}

@media (width >= 480px) {
  .content-wrapper {
    width: 380px;
  }
}
