@use "../abstracts";

.footer-controls {
  grid-area: footer;
  width: 100%;
  @include abstracts.flex(row, space-between, null);
  padding: 5px;
}

//footer left
.footer-left {
  @include abstracts.flex(null, null, center);
  gap: 15px;
  .footer-left-img {
    border-radius: 5px;
  }
  .footer-info {
    @include abstracts.flex(column, null, null);
    gap: 5px;
  }
}

//btn style
%btn-style {
  background: none;
  font-size: 2rem;
  display: flex;
  cursor: pointer;
}

//footer center
.footer-center {
  @include abstracts.flex(column, null, null);
  gap: 5px;
  .footer-btn {
    @include abstracts.flex(null, center, center);
    gap: 25px;
  }
  .btn {
    @extend %btn-style;
  }
  .btn.play {
    font-size: 3.5rem;
    color: #fff;
    padding: 2px;
  }
  .btn.skip,
  .btn.repeat,
  .btn.shuffle {
    position: relative;
    color: #fff;
    padding: 6px;
    border-radius: 50%;
    &:hover::before {
      content: "";
      position: absolute;
      border-radius: 50%;
      inset: 0;
      background-color: abstracts.$progress-bar;
      opacity: 0.2;
    }
  }
  .btn.repeat,
  .btn.shuffle {
    color: abstracts.$progress-bar;
  }
}

//footer right
.footer-right {
  @include abstracts.flex(row, center, center);
  gap: 20px;
  .btn-volume,
  .btn-fullscreen {
    color: #fff;
    @extend %btn-style;
  }
  .btn-fullscreen {
    font-size: 1.5rem;
  }
  .btn-volume {
    margin-right: 8px;
  }
}
