@use "../../scss/abstracts";

.main-content {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%;

  .content-wrapper {
    position: absolute;
    width: 100%;
    top: 0;
    bottom: 0;
    right: 0;
    padding: 15px 16px 20px;
    .os-scrollbar-handle {
      position: relative;
      background-color: abstracts.$scrollbar-color;
      z-index: 2;
    }
  }
}
