@use "../../scss/abstracts";

.main-content {
  padding-top: 8px;
}
.content-wrapper {
  padding: 0 16px;
  height: 500px;
  .os-scrollbar-handle {
    background-color: abstracts.$scrollbar-color;
  }
}
