$main-background: #121212;
$scrollbar-color: #d3cbcb35;
$text-secondary: #b3b3b3;
$button-color: #1ed760;
$divider-line: #727272;
$secondary-background: #222222;
$background-popup: #0074e0;
$third-background: #282828;
$progress-bar: #4d4d4d;
