//mixin flex
@mixin flex($direction: null, $justify: null, $align: null) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}
//mixin font
@mixin font($size: null, $weight: null) {
  font-size: $size;
  font-weight: $weight;
}
