@use "../abstracts";

.items-wrapper {
  display: grid;
  -template-rows: repeat(2, auto);
  gap: 8px;
}
.img-wrapper {
  position: relative;
}
.play-icon {
  display: flex;
  position: absolute;
  padding: 8px;
  bottom: 0;
  right: 0;
  font-size: 3.5rem;
  color: #1f1f1f;
  opacity: 0;
  transform: translateY(10px);
  transition: transform 0.3s ease, opacity 0.3s ease;
  .icon-custom {
    z-index: 1;
  }
  &:hover {
    font-size: 3.6rem;
  }
}
.play-icon::after {
  content: "";
  position: absolute;
  transform-origin: center;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  transform: scale(0.8);
  background-color: rgba(10, 209, 10);
  border-radius: 50%;
}
.play-icon:hover::after {
  background-color: rgb(4, 255, 4);
}
