@use "../abstracts";

.sidebar {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: min-content auto;
  row-gap: 8px;
  grid-area: sidebar;
}
.sidebar-nav {
  width: 340px;
  background-color: #121212;
  border-radius: 8px;
  .sidebar-logo {
    display: flex;
    a {
      @include abstracts.flex(null, null, center);
      gap: 5px;
      height: 24px;
      margin-top: 20px;
      padding: 0 24px;
    }
    span {
      @include abstracts.font(1.8rem, 600);
    }
  }
  .sidebar-icon {
    font-size: 2.8rem;
  }
  .sidebar-header {
    padding: 8px 12px;
    margin: 0px;

    .sidebar-home,
    .sidebar-search {
      padding: 4px 12px;
      height: 48px;
    }
    a {
      @include abstracts.flex(null, null, center);
      gap: 20px;
      height: 100%;
    }
    span {
      @include abstracts.font(1.6rem, 600);
    }
  }
}
.sidebar-header.box2 {
  @include abstracts.flex(null, space-between, null);
}
.sidebar-icon.plus {
  @include abstracts.font(1.8rem, null);
  cursor: pointer;
  margin-right: 15px;
}

//css create playlist
.create-playlist-container {
  @include abstracts.flex(column);
  gap: 20px;
  width: 100%;
  padding: 0 12px;
  max-height: 120px;
  color: #ffff;
  .os-scrollbar-handle {
    background-color: #d3cbcb35;
  }
  .create-playlist {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 35px;
    min-height: 145px;
    padding: 16px 20px;
    background-color: #1f1f1f;
    border-radius: 8px;
    margin-bottom: 20px;
    h4 {
      @include abstracts.font(1.4rem, 700);
    }
    p {
      @include abstracts.font(1.3rem, 500);
      margin: 10px 0 0px;
    }
    .create-playlist-btn {
      width: fit-content;
      border-radius: 20px;
      padding: 8px 16px;
    }
  }
}

//btn general{
.btn {
  @include abstracts.font(1.3rem, 700);
}

//sidebar bottom
.sidebar-footer {
  @include abstracts.flex(column);
  .privacy-policy {
    @include abstracts.font(1rem, null);
    padding: 0 24px;
    margin: 32px 0;

    a {
      color: #b3b3b3;
      margin-right: 17px;
      line-height: 28px;
    }
  }
  .privacy-policy-top {
    display: flex;
    flex-flow: row wrap;
  }
  .btn-footer {
    margin-bottom: 32px;
    padding: 0 24px;
    display: flex;

    .btn-language {
      @include abstracts.flex(null, null, center);
      background-color: transparent;
      border: 1px solid #7c7c7c;
      color: #ffff;
      padding: 8px 15px;
      border-radius: 25px;
      span {
        margin-left: 3px;
      }
    }
  }
}
