@use "../abstracts";

.social-wrapper {
  @include abstracts.flex(column);
  gap: 10px;
  .btn-social {
    @include abstracts.flex(null, null, center);
    gap: 15px;
    width: 100%;
    padding: 15px 25px;
    @include abstracts.font(1.5rem, 600);
    background-color: transparent;
    border: 1px solid abstracts.$divider-line;
    border-radius: 30px;
    .social-icon {
      font-size: 2.5rem;
    }
    .social-text {
      flex: 1;
      text-align: center;
    }
  }
  .btn-social:hover {
    border: 1px solid #fff;
  }
}
